<ion-header>
  <ion-toolbar color="dark">
    <button (click)="back()" style="position: absolute; top: 3px; padding: 10px; background-color: #ff00; z-index: 1;">
      <ion-icon slot="start" color="light" size="large" name="arrow-dropleft-circle" class="round"></ion-icon>
    </button>
    <ion-title style="text-align: center; font-weight: bold;">Alunos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de itens-->
  <ion-list>
    <ion-item-sliding *ngFor="let a of alunos | async">
      <ion-item (click)="editAluno(a.id)">
          <strong class="registration">{{a.id}}</strong>
          <p class="name">{{a.nome}}</p>
      </ion-item>
      <ion-item-options side="start">
        <ion-button color="danger" (click)="removeAluno(a.id)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </ion-button>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>
  <!-- Botão de Adicionar-->
  <ion-fab horizontal="center">
    <ion-fab-button (click)="addAluno()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
