<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      Acadêmico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <button (click)="gotoAlunos()" class="button">
        Alunos
      </button>
    </ion-item>
    <ion-item>
      <button (click)="gotoProfessores()" class="button">
        Professores
      </button>
    </ion-item>
    <ion-item>
      <button (click)="gotoFuncionarios()" class="button">
        Funcionarios
      </button>
    </ion-item>
  </ion-list>
</ion-content>
