<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      Sistema acadêmico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title style="font-weight: bold; color: #7777dd">Bem vindo ao Acadêmico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="color: #444;">
          Este sistema tem como finalidade tornar fácil de manusear os dados de registro de alunos, 
          professores e funcionários da escola.
        </p>
      </ion-card-content>
    </ion-card>
    <p style="padding: 15px;">
      Para começar a utilizar as funcionalidades do sistema, mova para a aba <strong>Acadêmico</strong>.
    </p>
</ion-content>
