<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="padding: 15px;">
    Este projeto foi desenvolvido para fins acadêmicos afim de praticar o 
    desenvolvimento de um sistema funcional com aparência profissional. 
  </p>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Informações do desenvolvedor:</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="dark" name="contact"></ion-icon>
      <ion-label>Nícolas F. de Souza</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="dark" name="at"></ion-icon>
      <ion-label>nicolasf.s1998@gmail.com</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Alguns links úteis: </ion-label>
    </ion-list-header>
    <ion-item href="https://github.com/crickkin/Trabalho-ionic-p2" target="blank">
      <ion-icon slot="start" color="dark" name="logo-github"></ion-icon>
      <ion-label>Github do projeto</ion-label>
    </ion-item>
    <ion-item href="https://gamejolt.com/@Crickkin" target="blank">
      <ion-icon slot="start" color="dark" name="brush"></ion-icon>
      <ion-label>Protfolio do desenvolvedor</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
