<ion-header>
  <ion-toolbar color="dark">
    <button (click)="cancel()" style="position: absolute; top: 3px; padding: 10px; background-color: #ff00; z-index: 1;">
      <ion-icon slot="start" color="light" size="large" name="backspace" class="round"></ion-icon>
    </button>
    <ion-title style="text-align: center; font-weight: bold;">Formulário de Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label stacked class="label">Matrícula</ion-label>
      <ion-input type="text" name="id" [(ngModel)]="aluno.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked class="label">Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="aluno.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked class="label">Ano de Escolaridade</ion-label>
      <ion-input type="text" name="ano" [(ngModel)]="aluno.ano"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked class="label">Curso</ion-label>
      <ion-input type="text" name="curso" [(ngModel)]="aluno.curso"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="center">
    <ion-button color="primary" block (click)="save()">
      Salvar
    </ion-button>
  </ion-fab>
</ion-content>
